@use '@/assets/css/index.scss' as *;

.login {
  width: 100%;
  min-height: calc(100vh - 140px);
  @include flex-center;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  @include shadow-lg;

  @include mobile-only {
    margin-top: 10px;
    background-image: none !important;
    box-shadow: none !important;
  }
}

